.input-group-text {
  background: transparent;
  border-radius: 5px 0 0 5px;
}

.busca {
  border-left: none;
  border-radius: 5px;
}

.color-title {
  color: white;
}

.fa-search {
  color: white !important;
}

.brand-text {
  white-space: nowrap;
  font-weight: bold;
  font-size: 20px;
  color: #574C70;
}

.btn-header {
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.32);
  border-radius: 5px;
  width: 35px;
  height: 35px;
  padding: 7px;
  text-align: center;
}
