
.color-title {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.brand-text {
  white-space: nowrap;
  font-weight: bold;
  font-size: 20px;
  color: #574c70;
}

.coronavirus {
  font-weight: bolder;
}

.barra-verde {
  color: rgb(49, 88, 52) !important;
}

.barra-amarela {
  color: rgb(175, 173, 58) !important;
}

.color-theme {
  color: #0c154a;
}
